.thanksDiv {
    height: 90vh;
    width: 100vw;
    text-align: center;
    overflow: hidden;
  }

  .thanksCont {
	position: absolute;
	left: 50%;
	text-align: center;
	height: 55%;
	width: 85%;
	transform: translate(-50%, 20%);
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: darkslategray;
  }

  .thanksCont p{
    color: darkslategrey;
  }

  .Xlogo-div-thanks{
  text-align: center;
  height: 90vh;
  width: 100vw;
  left: 50%;
  width: 50%;
  height: 22%;
  transform: translate(-50%, -75%);
  position: absolute;
}

.Xlogo-div-thanks p{
transform: translate(0%, -20%);
color: #E00000;
font-weight: bold;
}

  a{
	  color:white;
  }
  a:visited{
	  color: white;
  }
  a:hover{
	  text-decoration: none;
  }
  h1{
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }